
/****************************************************************************
 * Common
 ***************************************************************************/

body {
  background-color: #000;
  background-image: url("../img/top-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  font-family: "open sans", helvetica, arial, sans-serif;
  color: #ccc;
}

h2, label {
  text-transform: uppercase;
  color: #3e8e64;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 3em;
  margin: 0;
}

h3{
  text-transform: uppercase;
  color: #3e8e64;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 2.5em;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

li{
  font-size: 2.5em;
  line-height: 1.7em;
  color: #ccc;
  font-weight: 300;
  margin: 0;
}

a, a:hover{
  color: #3e8e64;
  text-decoration: none;
}

.link, .link:hover  {
  display:  inline;
  font-size: inherit;
  color: #3e8e64;
  text-decoration: none;
}

.btn,
.btn:active{
  border-radius: 3em 3em;
  padding: 1em 2.5em;
  color: #fff;
  background: #00cc8d;
  display: inline-block;
  margin: 1.2em auto;
  text-transform: uppercase;
  margin-bottom: .6em;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
  border: none;
  transition: background 0.15s ease-in !important;
}

.btn:hover{
  color: #fff;
  background: #3e8e64;
}

.ev-embed{
  width:100%;
}

/****************************************************************************
 * Logo
 ***************************************************************************/

#logo {
  max-width: 8.7em;
  min-width: 280px;
  margin: 5% 0 0;
}

@media screen and (max-width: 768px) {
  #logo {
    max-width: 1em;
    min-width: 230px;
  }
}

#logo, .edicao{
  -moz-animation: fadein 1.4s 1s both; /* Firefox */
  -webkit-animation: fadein 1.4s 1s both; /* Safari and Chrome */
  -o-animation: fadein 1.4s 1s both; /* Opera */
  animation: fadein 1.4s 1s both;
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}


/****************************************************************************
 * Sections
 ***************************************************************************/

.part {
  padding: 0 10px 0 10px;
  width: 70%;
  margin: 5% auto;
}

@media screen and (max-width: 768px) {
  .part {
    width: 90%;
  }
}

.part.half{
  width: 50%;
}


/****************************************************************************
 ***** Informacoes
 ***************************************************************************/

.informacoes{
  margin-top: 8%;
}

.informacoes h2{
  display: none;
}

.informacoes .data{
  font-size: 1.7em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .informacoes .data{
    font-size: 1.2em;
  }
}

.informacoes .endereco{
  font-size: .9em;
}

/****************************************************************************
 ***** Regras
 ***************************************************************************/

.regras{
  border: 1px solid #fff;
  border-width: 1px 0 1px;
  padding: 1em;
  width: 65%;
  clear: both;
  overflow: auto;
}


.regras h2{
  line-height: 2em;
}

.regras .slot{
  display: inline-block;
  float: left;
  width: 25%;
}
@media screen and (max-width: 768px) {
  .regras .slot{
    float: none;
    width: 100%;
  }
}

.regras p.slot{
  margin: 0;
  font-size: 1.6em;
  line-height: 1.7em;
  padding: 0.6em 0 0;
}

@media screen and (max-width: 768px) {
  .regras p.slot{
    padding: .5em 0 ;
  }
}

.regras .slot img{
  display: block;
  margin: 0 auto;
  max-width: 25px;
}

/****************************************************************************
 ***** Sponsors
 ***************************************************************************/

.sponsors img {
  margin: 1.5em 0 0;
  opacity: 0.8;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  zoom: 0.5;
  width: 80%;
  max-width: 675px;
}
.sponsors .tictail_logo{
  width: 200px;
  height: 57px;
  display: block;
  margin: 20px auto 50px;
}
.sponsors .citd_global{
  width: 250px;
  display: block;
  margin: 75px auto 0;
}
.sponsors img:hover {
  opacity: 1.0;
}

/****************************************************************************
 ***** Sub Sponsors
 ***************************************************************************/

.sub-sponsors{
  clear: both;
  overflow: hidden;
}

.sub-sponsors > div{
  width: 50%;
  float: left;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sub-sponsors > div{
    width: 100%;
    float: none;
  }
}

.sub-sponsors .thanks{
  padding-top: 2.4em;
}


/****************************************************************************
 * Video-player
 ***************************************************************************/

.video-player {
  position: relative;
  max-width: 934px;
  margin: 0 auto;
  cursor: pointer;
}

.video-player .video-player-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  height: 15%;
  max-width: 141px;
  max-height: 141px;
  margin: -3% 0 0 -3%;
  background: url('../img/play.png') 0 0 no-repeat;
  background-size: contain;
  opacity: 0.0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.video-player .video-player-backdrop {
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  max-width: 700px;
  margin: 0 auto;
}

.video-player img {
  width: 100%;
  max-width: 700px;
  -webkit-transition: all 0.15s ease-in-out;
  opacity: 0.9;
}

.video-player:hover .video-player-play {
  opacity: 0.7;
}
.video-player:hover .video-player-backdrop {
  opacity: .7;
}
.video-player:hover .video-player-caption {
  opacity: 1;
}

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-player.playing, .video-player.disabled {
  cursor: default;
}

.video-player.playing::after, .video-player.disabled::after {
  display: none;
}

.register {
  margin: 20px 0;
  font-size: 150%;
}

.register a {
  font-size: 75%;
  background: #57C88C;
  padding: 10px 30px;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
}

.register a:hover {
  text-decoration: none;
  background-color: #37b87C;
}

.comofunciona h2 {
    margin-bottom: 0.5em;
}

.edicao{
  font-size: 3.2em;
  line-height: 1em;
}

.contato .title-subscribe {
  margin-bottom: 0.5em;
}


/****************************************************************************
 * Newsletter Subscribe Form
 ***************************************************************************/

.submit-msg{
  font-size: 1em;
  color: #3e8e64;
}

#newsletter-subscribe input {
  background-color: #111;
  padding: 10px;
  color: #999;
}

#newsletter-subscribe button {
  background-color: #111;
  color: #999;
  padding: 10px;
  margin-top: -11px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}

#newsletter-subscribe button:hover,
#newsletter-subscribe input:focus {
  border-color: #59cb8f;
  -webkit-box-shadow: 0 0 6px #73e8aa;
  -moz-box-shadow: 0 0 6px #73e8aa;
  box-shadow: 0 0 6px #73e8aa;
}


/****************************************************************************
 * Lightbox - Google Maps
 ***************************************************************************/
#lightbox-map {
  display: none;
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(0,0,0,0.7);
}
input#lightbox-map:checked + .lightbox {
  display: block;
}
.lightbox-content {
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 70%;
}
.lightbox-close {
  background-image: url(../img/close-sprite.png);
  background-size: 96px 24px;
  background-color: #fff;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -24px;
  right: 0;
}
.google-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .edicao {
    font-size: 2.2em;
  }
  .comofunciona {
    width: calc(100% - 20px);
  }
  #newsletter-subscribe input {
    width: calc(100% - 20px);
  }
  #newsletter-subscribe button {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}


/****************************************************************************
 * Accordion
 ***************************************************************************/


.accordion{
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .accordion{
    width: 90%;
    margin: 10px auto;
  }
}

.accordion .line{
  font-size: 1em;
  border-bottom: 1px solid rgba(255,255,255,.7);
  transition: background .4s ease-in;
}

.accordion .line:last-child{
  border-bottom: none;

}

.accordion .line.open{
  background: rgba(62, 142, 100, 0.51);
}

.accordion .line .line-head{
  display: block;
  position: relative;
  padding: 10px 10px 10px 40px;
  font-weight: bold;
  cursor: pointer;
}

.accordion .line .line-head:before{
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  background: #FFF;
  width: 20px;
  height: 4px;
  font-size: 2.5em;
  margin-top: -2px;
}

.accordion .line .line-head:after{
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  background: #FFF;
  width: 4px;
  height: 20px;
  font-size: 2.5em;
  margin-left: 8px;
  margin-top: -10px;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.accordion .line.open .line-head:after{
  opacity: 0;
}

.accordion .line .line-collapse{
  display: block;
  overflow: hidden;
  max-height: 0;
  padding: 0 20px 0 40px;
  transition: max-height .4s ease-in;
}

.accordion .line.open .line-collapse{
  max-height: 150px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .accordion .line.open .line-collapse{
    max-height: 350px;
  }
}
