$cdd-dark-green = #3e8e64
$cdd-light-green = #00cc8d

*
  box-sizing border-box
  padding 0
  margin 0

body
  font-family "open sans", helvetica, arial, sans-serif
  -webkit-font-smoothing antialiased
  background-color #000
  color #ccc
  padding 80px 0

.body-bg
  background-image url(../img/header-bg.png)
  background-repeat no-repeat
  background-position center top

.container
  width 100%
  max-width 1200px
  margin 0 auto
  padding 0 15px
  +below(520px)
    header&
      padding 0

.col-50
  float left
  width 50%
  padding 0 10px

.clearfix
  &:before
  &:after
    content ""
    display table
  &:after
    clear both
.logo
  text-align center
  +below(520px)
    width 45%
    padding-right 5px
  img
    max-width 383px
    width 100%
    height auto



.main-informations
  text-align center
  +below(520px)
    width 55%
    padding-left 5px
.header-title
  color white
  font-size 15px
  font-weight 300
  margin-bottom 10px
  +above(720px)
    font-size 44px
    span
      font-size 23px
  span
    display block
    font-weight 700
    line-height 1.2
    font-size 14px
    letter-spacing 3px
.header-address
  color #fff
  font-size 14px
  +above(720px)
    font-size 16px

.co-partner
  text-align center
  float right
  +below(770px)
    clear both
    padding-top 30px
    float none
    width 100%
    span
      display inline-block
      margin-right 20px
      position relative
      top -14px

.header-inscription
  margin 20px 0
  a
    display inline-block
    padding 15px 35px
    margin-bottom 15px
    background-color $cdd-light-green
    color #fff
    font-weight 700
    line-height 1.2
    font-size 18px
    text-decoration none
    text-transform uppercase
    border-radius 6px
    box-shadow 1px 1px 8px 0 rgba(255,255,255, .4)
    border 1px solid rgba(#fff, .4)
    letter-spacing 0.4px
    transition box-shadow ease .2s, background-color ease .2s
    &:hover
      box-shadow 1px 1px 8px 2px rgba(255,255,255, .5)
      background-color saturation($cdd-light-green, 90%)
    +below(770px)
      padding 10px 30px
      font-size 17px
    +below(520px)
      padding 10px 15px
      font-size 14px
  +above(720px)
    margin 30px 0
    font-size 20px
  span
    display block
    color $cdd-light-green
    font-weight 300
    line-height 1.2
    font-size 16px

.social-networks-label
  font-size 16px
  color #fff
  position relative
  margin-bottom 10px
  display inline-block
  +below(520px)
    display none
  &:before
  &:after
    content ''
    position absolute
    height 1px
    width 25px
    top 0
    bottom 0
    margin auto
    background #fff
  &:before
    left -30px
  &:after
    right -30px
.social-networks
  text-align center
  margin-bottom 30px
  margin-top 20px
  +below(520px)
    .main-informations &
      display none
  li
    display inline-block
    margin 0 10px
.partner-label
  font-weight 300
  font-size 16px
  color white
  display block
  margin-top 10px
  margin-bottom 5px
.expert
  margin-top 40px
.roles
  ul
    display table
    width 100%
  li
    display table-cell
    p, strong
      opacity 0.3
  +below(520px)
    width 100%
    text-align center
    .mobile, &>ul
      display block
      width 100%
    .mobile
      margin-bottom 20px
    li
      display inline-block
      width 85px
      &:not(:last-child)
        margin-right 20px

.large-date
  position relative
  z-index 2
  strong
    font-size 300px
    font-weight 600
    line-height 1
  span
    font-size 60px
    font-weight 300
  +below(770px)
    strong
      font-size 200px
  +below(600px)
    padding 40px 0
    strong
      font-size 100px
    span
      position absolute
      bottom 20px
      right 0
      text-align right
      font-size 25px
.video
  position relative
  display block
  img
    display block
  &:before
  &:after
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
  &:after
    width 45px
    height 61px
    background url(../img/play-ico.png)
    background-repeat no-repeat
    background-position right
    padding-left 10px
  &:before
    width 140px
    height 140px
    border-radius 50%
    background #78b683
    opacity 0.8
    box-shadow 0px 0px 0px 40px rgba(#78b683, .7)

.description
  position relative
  p
    font-size 16px
    z-index 2
    font-weight 300
    color #dadada
    margin-bottom 20px
    position relative
  .description-highlight
    font-size 20px
    line-height 35px
    color $cdd-light-green
    font-weight 600
    max-width 445px

.has-title
  position relative
  margin-top 20px
  padding-top 80px
  +above(520px)
    padding-top 110px
  +above(720px)
    padding-top 180px
.container-title
  line-height 1
  position absolute
  text-align center
  font-size 110px
  font-weight 600
  opacity 0.8
  color #242424
  top 0
  left 0
  right 0
  margin 0 auto
  +above(520px)
    font-size 150px
  +above(720px)
    font-size 248px


.mosaic
  margin-top 30px
.mosaic-item
  overflow hidden
  position relative
  float left
  width calc(100%/3)
  &.tablet
  &.desktop
    display none
  +above(520px)
    width calc(100%/5)
    &.tablet
      display block
  +above(720px)
    width calc(100%/7)
    &.desktop
      display block
  &:before
    content ''
    display block
    position absolute
    width 100%
    height 100%
    z-index 2
    transition all 500ms
    transform scale(1.45)
  img
    width 100%
    height auto
    display block
  .mosaic-img
    position absolute
    margin auto
    top 0
    left 0
    bottom 0
    right 0
    transform scale(1)
    transition all 1s
  &:hover
    &:before
      border-radius 50%
      box-shadow inset 0 0 30px 10px rgba(0,0,0,0.75)
    .mosaic-img
      transform scale(1.5)


.staff
  text-align center
  position relative

.staff-member
  display inline-block
  width 150px
  margin-bottom 40px
  &:not(:last-child)
    margin-right 20px
  &:hover
    .staff-image
      &:before
      &:after
        opacity 1

.staff-image
  position relative
  &:before
    content ''
    opacity 0
    position absolute
    width 100%
    height 100%
    background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,1) 100%)
  &:after
    content ''
    opacity 0
    background url(../img/ico-twitter-staff.png)
    width 42px
    height 36px
    position absolute
    right 10px
    bottom 10px
    z-index 2
    transition opacity .8s

.staff-name
  color #fff
  font-size 14px
  opacity 0.3
  text-decoration none
  padding-top 10px

.faq
  color #fff
  input[type="radio"]
    opacity 0

.quest-trigger:checked
  & + .faq-quest
    &:before
      content "-"
    .quest-title
      color #85ca91
    .quest-response
      height auto

.faq-quest
  position relative
  z-index 9
  display block
  padding 20px 30px
  border-bottom 1px solid #171717
  &:before
    content "+"
    position absolute
    left 0
    top 20px
    font-size 30px
    line-height 1
    font-weight 700
    color #171717
.quest-title
  transition all 500ms
  font-size 20px
  font-weight 600

.quest-response
  transition all 250ms
  overflow hidden
  height 0
  font-size 15px
  padding-top 10px
  a
    color inherit

.winner-container
  position relative
  padding-bottom 56%
  background url(../img/winner.png)
  background-size cover
  background-position center center

.winner-legend
  position absolute
  right calc(-10px + 290 * ((100vw - 520px) / (1200 - 550)))
  top 33%
  font-weight 700
  padding-bottom 5px
  border-bottom 2px solid #85ca91
  dt
    font-size 20px
    color #85ca91
  dd
    font-size 15px
    color white

.partners
  display table
  margin-top 20px
  .container-title
    top -80px
    +below(770px)
      top -20px

.partner
  display table-cell
  text-align center
  img
    margin 0 5px
  &:not(:last-child)
    padding-right 20px
  &.thanks
    max-width 175px
    a
      color #fff
    dt
      margin-bottom 30px
    a
      color inherit
  &.support
    dt
      margin-bottom 43px

  .support-link
    margin-left 20px

    &:first-child
      margin-left 0
  dd
    font-size 11px
    font-weight 700

.host
  position relative
  display table
  width 70%
  margin-top -280px
  margin-bottom 140px

  +below(1200px)
    margin-top -200px
    width 80%

  +below(1024px)
    margin-top -150px
    width 90%

  +below(770px)
    width 100%
    margin 0 0 40px 0
    display block

  .host-image
    display table-cell
    +below(770px)
      display block
      max-width 100%
      margin 0 auto
  .host-details
    display table-cell
    padding-left 50px
    +below(770px)
      padding-left initial

  .highlight-title
    display inline-block
    margin-left -120px
    margin-top 60px
    color #fff
    font-size 55px
    text-transform uppercase
    +below(1024px)
      margin-left -100px
      font-size 40px
    +below(770px)
      margin-left initial
      margin-top 20px
      margin-bottom 20px
      font-size 40px
      line-height 1.2

    small
      display block
      margin-left 120px
      margin-bottom 20px
      color #4acb95
      font-size 22px
      font-weight 400
      text-transform initial
      +below(1024px)
        margin-left 100px
      +below(770px)
        margin 0

  .host-description
    display inline-block
    line-height 1.5

.contact
  text-align center
  color #fff
  font-size 20px
  font-weight 700
  margin-top 20px
  +below(600px)
    font-size 14px
  a
    color #fff

.subscribe
  position relative
  display table
  background #171717
  border-radius 5px
  color #85ca91
  font-size 20px
  font-weight 300
  padding 5px
  margin 0 auto 50px
  input
    display table-cell
    background transparent
    border none
    box-shadow none
    font-style italic
    font-size 20px
    padding 10px
    color inherit
    width 70%
    float left
  button
    float right
    display table-cell
    background #303030
    border none
    box-shadow none
    padding 10px 20px
    color inherit
    font-size 20px
    border-radius inherit
  .submit-msg
    position absolute
    top 50px
    left 0
    font-size 14px
    font-weight 700
    padding 5px
    &.error
      color red
    &.valid
      color error


.subscribe-label
  color #85ca91
  text-align center
  font-size 23px
  margin 30px 0 20px

.copyright
  font-size 11px
  text-align center
  margin-bottom 30px
  color #fff
  display block

+below(600px)
  .video-container
    width 100%
    img
      width 100%
      height auto
  .video:before
    width 90px
    height 90px
  .description.container
    .col-50
      width 100%
      float none
  .description-highlight
    text-align center
  .winner-legend
    left 15%
    top 51%
    right 0

+below(770px)
  .partners
    display block
    .partner
      display block
      padding 0
      text-align center
      margin-bottom 30px
    .co-director
      img
        width 80%
        max-width 200px
        height auto
    .thanks
      margin 0 auto 30px
  footer .social-networks
    img
      width 50%
